<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MDS</display-name>
  <welcome-file-list>
      <welcome-file>Index.jsp</welcome-file>  
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SrchSrv</display-name>
    <servlet-name>SrchSrv</servlet-name>
    <servlet-class>servlets.SrchSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrchSrv</servlet-name>
    <url-pattern>/SrchSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>servlets.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputSrv</display-name>
    <servlet-name>InputSrv</servlet-name>
    <servlet-class>servlets.InputSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputSrv</servlet-name>
    <url-pattern>/InputSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDocSrv</display-name>
    <servlet-name>ViewDocSrv</servlet-name>
    <servlet-class>servlets.ViewDocSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDocSrv</servlet-name>
    <url-pattern>/ViewDocSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateKeywords</display-name>
    <servlet-name>UpdateKeywords</servlet-name>
    <servlet-class>servlets.UpdateKeywords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateKeywords</servlet-name>
    <url-pattern>/UpdateKeywords</url-pattern>
  </servlet-mapping>
</web-app>